* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contenitore::after {
    content: '';
    clear: both;
    display: table;
}

h1, h2, h3, span {
    font-family: 'Poppins', sans-serif;
}

p, input, textarea {
    font-family: 'Karma', serif;
}

/* ////////////////// INZIO HEADER //////////////////// */

.contenitore-header {
    background-color: #FFFFFF;
    display: flex;
    padding: 30px 0;
}

.contenitore-logo-azienda {
    width: 50%;
    display: flex;
    align-items: center;
    padding-left: 50px;
}

.contenitore-logo-azienda img {
    max-width: 100px;
}

.contenitore-menu-generale {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-family: 'Poppins', sans-serif;
}

.evidenziato {
    padding-bottom: 5px;
    border-bottom: 2px solid #EA9B82;
}

.contenitore-menu {
    position: relative;
    margin-right: 120px;
}

.contenitore-menu ul li {
    display: inline-block;
    font-size: 20px;
    margin: 0 30px;
}

.contenitore-menu-generale span {
    margin-right: 30px;
    position: absolute;
    top: 35px;
    right: 16px;
    padding-right: 0;
}

.contenitore-menu-generale span img {
    max-width: 60px;

}

/* ///////////////////// FINE HEADER //////////////////////// */

/* ////////////// INIZIO MAIN - PRIMA PARTE ///////////////// */

.contenitore-title-generale {
    background-image: url("img/h2-background-img-02.png");
    background-size: cover;
    display: flex;

}

.contenitore-titolo {
    width: 50%;
    padding-top: 120px;
    padding-bottom: 200px;
}

.contenitore-titolo h1 {
    font-size: 52px;
    line-height: 1.3;
    padding-left: 318px;
}

.contenitore-sottotitolo {
    width: 50%;
    padding-top: 180px;
}

.contenitore-sottotitolo p {
    font-size: 21px;
    padding-left: 140px;
    color: grey;
}

/* ////////////// FINE MAIN - PRIMA PARTE ///////////////// */

/* ////////////// INIZIO MAIN - SECONDA PARTE ///////////////// */

.contenitore-centrale {
    width: 100%;
    background-image: url("img/h2-background-img-01.png");
    background-size: cover;

}

.contenitore-blocchi {
    width: 1200px;
    margin: auto;
    display: flex;
}

.blocco-one {
    height: 600px;
    width: 600px;
    position: relative;
}

.blocco img, .blocco-card img {
    max-width: 600px;
}

.blocco-one .piega {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}

.blocco-one:hover .piega {
    display: block;
}

.blocco {
    height: 600px;
    width: 600px;

}

/* ////////////// FINE MAIN - SECONDA PARTE ///////////////// */

/* ////////////// INIZIO MAIN - TERZA PARTE ///////////////// */


.contenitore-what-generale {
    width: 1200px;
    margin: auto;
    display: flex;
    padding: 100px 0;
}

.contenitore-what {
    width: 45%;
    padding: 80px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contenitore-what h2 {
    font-size: 40px;
    margin: 10px 0;
}

.contenitore-what p {
    font-size: 20px;
    margin-bottom: 25px;
    line-height: 1.6;
    padding-right: 80px;
}

.bottone {
    width: 200px;
    height: 50px;
    padding: 10px;
    border-radius: 40px;
    border: 2px solid #80ABAE;
    background-color: white;
    font-size: 17px;
}

.bottone.what {
    margin: 15px 0;
}

.bottone:hover {
    background-color: #80ABAE;
    color: white;
    cursor: pointer;
}

.fa-caret-right {
    padding-left: 10px;
}

.fa-caret-right:hover {
    padding-left: 10px;
    color: white;
}

.contenitore-riquadri {
    width: 55%;
    display: flex;
}

.riquadro {
    padding: 50px;
    display: flex;
    align-items: center;
    position: relative;
}

.riquadro span {
    font-size: 20px;
    padding-left: 20px;
}

.riquadro:hover {
    border-radius: 30px;
    cursor: pointer;
}

.riquadro-beautifull:hover {
    border: 2px solid #EFCA9E;

}

.riquadro-qualified:hover {
    border: 2px solid #69A9AA;

}

.riquadro-brand:hover {
    border: 2px solid #E6F3F0;

}

.riquadro-books:hover {
    border: 2px solid #D38367;

}

.icone-social {
    position: absolute;
    top: 2500px;
    right: 0;
    width: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.icona {
    padding: 10px 0;
}

/* ////////////// FINE MAIN - TERZA PARTE ///////////////// */

/* ////////////// INIZIO MAIN - QUARTA PARTE ///////////////// */

.contenitore-video {
    position: relative;
}

.contenitore-video .play {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.contenitore-video .play:hover {
    display: block;
}

.contenitore-video img:first-child {
    width: 100%;
    background-size: cover;
}

.contenitore-video img:last-child {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.contenitore-video img:last-child:hover {
    display: none;
}

/* ////////////// FINE MAIN - QUARTA PARTE ///////////////// */

/* ////////////// INIZIO MAIN - QUINTA PARTE ///////////////// */

.contenitore-card {
    padding: 150px 0;
    background-image: url("img/h2-background-img-03.png");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.quadrato {
    height: 40px;
    width: 40px;
    position: absolute;
    right: 0;
    max-width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.chiocciola {
    background-color: #EE2852;
    top: 53%;
}

.chiocciola img {
    max-width: 25px;
}

.carrello {
    background-color: #FFFFFF;
    top: 59%;
}

.carrello img {
    max-width: 20px;
}

.card {
    height: 600px;
    width: 400px;
    border-radius: 30px;
    margin: 0 30px;
    display: flex;
    flex-direction: column;
    text-align: center;
    position: relative;
}

.card h3 {
    font-size: 25px;
    padding-bottom: 10px;
    padding-top: 80px;
}

.card h1 {
    font-size: 60px;
    padding-bottom: 10px;
}

.card .fa-dollar-sign {
    position: absolute;
    top: 145px;
    font-size: 25px;
}

.card ul li {
    font-family: 'Karma', serif;
    padding: 6px 0;
    font-size: 20px;
    list-style-type: none;
    color: grey;
}

.card button {
    width: 205px;
    height: 50px;
    padding: 10px;
    border-radius: 20px;
    margin: 30px auto;
    border: 2px solid #80ABAE;
    background-color: white;
    font-size: 16px;
}

.card button:hover {
    background-color: #80ABAE;
    color: white;
    cursor: pointer;
}

.card-one {
    border: 2px solid #EFCA9E;
}

.card-one .fa-dollar-sign {
    left: 242px;
}

.card-two {
    background-color: #E6F3F0;
    border: none;
}

.card-two .fa-dollar-sign {
    left: 245px;
}

.card-tree {
    border: 2px solid #EA9B82;
}

.card-tree .fa-dollar-sign {
    left: 250px;

}


/* ////////////// FINE MAIN - QUINTA PARTE ///////////////// */

/* ////////////// INIZIO MAIN - ULTIMA PARTE ///////////////// */

.contenitore-generale-contatti {
    width: 1200px;
    margin: auto;
    display: flex;

}

.contenitore-informazioni {
    width: 50%;
    margin: 150px 0;
}

.contenitore-informazioni h1 {
    font-size: 60px;
    padding-bottom: 20px;
    line-height: 1.1;
    padding-right: 160px;
}

.contenitore-informazioni p {
    font-size: 20px;
    line-height: 1.6;
    color: grey;
    padding-right: 160px;
}

.contenitore-contatti {
    width: 50%;
    margin: 170px 0;
}

.primo-input textarea {
    width: 600px;
    height: 30px;
    margin-bottom: 80px;
    border: none;
    border-bottom: 2px solid black;
    padding-left: 5px;
    font-size: 18px;
}

.input-successivi {
    display: inline-flex;
}

.input-successivi input  {
    width: 285px;
    height: 30px;
    border: none;
    border-bottom: 2px solid black;
    padding-left: 5px;
    font-size: 18px;
}

.input-successivi input:last-child {
    margin-left: 30px;
}

.bottone.hello {
    margin-top: 80px;
}



/* //////////////////////// FINE MAIN ////////////////////////// */

/* ///////////////////////// FOOTER /////////////////////// */

.contenitore-footer {
    background-image: url("img/h2-footer-img-01.jpg");
}

.footer-text {
    width: 555px;
    margin: auto;
    padding-top: 100px;
    padding-bottom: 30px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.footer-text h3 {
    font-size: 30px;
    margin-bottom: 20px;
}

.footer-text p {
    line-height: 1.6;
    font-size: 17px;
    color: grey;
}

.contenitore-icon-social {
    display: flex;
    justify-content: center;
    padding-bottom: 100px;
}

.icon-social-instagram, .icon-social-facebook, .icon-social-twitter, .icon-social-pinterest {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    margin: 0 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #80ABAE;
}

.icon-social-facebook {
    background-color: #EEC681;
}

.icon-social-twitter {
    background-color: #EFB6A4;
}

.icon-social-pinterest {
    background-color: #D8D597;
}

.icon-social-instagram:hover, .icon-social-facebook:hover, .icon-social-twitter:hover, .icon-social-pinterest:hover {
    cursor: pointer;
}

.icon-social-instagram:hover {
    background-color: #69A9AA;

}

.icon-social-facebook:hover {
    background-color: #E5A85A;

}

.icon-social-twitter:hover {
    background-color: #E19074;

}

.icon-social-pinterest:hover {
    background-color: #629C7C;

}
