* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ////////////////// INZIO HEADER //////////////////// */

.contenitore-header {
    height: 100px;
    width: 100%;
    background-color: #FFFFFF;
    display: flex;
}

.contenitore-logo-azienda {
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    padding-left: 50px;
}

.contenitore-logo-azienda img {
    max-width: 100px;
}

.contenitore-menu-generale {
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-family: 'Poppins', sans-serif;
}

.contenitore-menu ul li:first-child {
    padding-bottom: 5px;
    border-bottom: 2px solid #EA9B82;
}

.contenitore-menu ul li {
    display: inline-block;
    font-size: 20px;
    margin: 0 30px;
}

.contenitore-menu ul li:last-child {
    padding-right: 50px;
}

.contenitore-menu ul li:last-child img {
    max-width: 60px;

}

/* ///////////////////// FINE HEADER //////////////////////// */

/* ////////////// INIZIO MAIN - PRIMA PARTE ///////////////// */

.contenitore-title-generale {
    height: 600px;
    width: 100%;
    background-image: url(img/h2-background-img-02.png);
    background-size: cover;
}

.contenitore-titolo {
    height: 100%;
    width: 50%;
    float: left;
    display: flex;
    justify-content: flex-end;
    padding-top: 130px;
    padding-left: 150px;
}

.contenitore-titolo h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 52px;
    line-height: 1.3;
}

.contenitore-sottotitolo {
    height: 100%;
    width: 50%;
    float: left;
    padding-top: 180px;
}

.contenitore-sottotitolo p {
    font-family: 'Karma', serif;
    font-size: 21px;
    padding-left: 140px;
    color: grey;
}

/* ////////////// FINE MAIN - PRIMA PARTE ///////////////// */

/* ////////////// INIZIO MAIN - SECONDA PARTE ///////////////// */

.contenitore-centrale {
    height: 1800px;
    width: 100%;
    background-image: url(img/h2-background-img-01.png);
    background-size: contain;
    padding-right: 300px;
}

.blocco-one {
    height: 600px;
    width: 600px;
    float: right;
    position: relative;
}

.blocco img, .blocco-card img {
    max-width: 600px;
}

.blocco-one .piega {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}

.blocco-one:hover .piega {
    display: block;
}

.blocco {
    height: 600px;
    width: 600px;
    float: right;
}

/* ////////////// FINE MAIN - SECONDA PARTE ///////////////// */

/* ////////////// INIZIO MAIN - TERZA PARTE ///////////////// */

.contenitore-generale {
    width: 100%;
    height: 600px;
}

.contenitore-what-generale {
    height: 100%;
    width: 1200px;
    margin-left: 420px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenitore-what {
    width: 45%;
    height: 400px;
    float: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contenitore-what h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    margin: 10px 0;
}

.contenitore-what p {
    font-family: 'Karma', serif;
    font-size: 20px;
    margin-bottom: 25px;
    line-height: 1.6;
}

.contenitore-what button {
    width: 200px;
    height: 50px;
    padding: 10px;
    border-radius: 40px;
    margin: 15px 0;
    border: 2px solid #80ABAE;
    background-color: white;
    font-size: 17px;
}

.contenitore-what button:hover {
    background-color: #80ABAE;
    color: white;
    cursor: pointer;
}

.fa-caret-right {
    padding-left: 10px;
}

.fa-caret-right:hover {
    padding-left: 10px;
    color: white;
}

.contenitore-riquadri {
    width: 55%;
    height: 400px;
    float: left;

}

.riquadro-beautifull, .riquadro-qualified, .riquadro-brand, .riquadro-books{
    height: 50%;
    width: 50%;
    float: left;
    padding-left: 30px;
    display: flex;
    align-items: center;
    position: relative;
}

.riquadro-beautifull span, .riquadro-qualified span, .riquadro-brand span, .riquadro-books span {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    padding-left: 20px;
}

.riquadro-beautifull:hover, .riquadro-brand:hover, .riquadro-qualified:hover, .riquadro-books:hover {
    border-radius: 30px;
    cursor: pointer;
}

.riquadro-beautifull:hover {
    border: 2px solid #EFCA9E;

}

.riquadro-brand:hover {
    border: 2px solid #E6F3F0;

}

.riquadro-qualified:hover {
    border: 2px solid #69A9AA;

}

.riquadro-books:hover {
    border: 2px solid #D38367;

}

.icone-social {
    position: absolute;
    top: 2550px;
    right: 0;
    height: 150px;
    width: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

/* ////////////// FINE MAIN - TERZA PARTE ///////////////// */

/* ////////////// INIZIO MAIN - QUARTA PARTE ///////////////// */

.contenitore-video {
    height: 700px;
    width: 100%;
    position: relative;
}

.contenitore-video img:first-child {
    height: 100%;
    width: 100%;
    background-size: cover;
}

.contenitore-video img:last-child {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* ////////////// FINE MAIN - QUARTA PARTE ///////////////// */

/* ////////////// INIZIO MAIN - QUINTA PARTE ///////////////// */

.contenitore-card {
    height: 900px;
    width: 100%;
    background-image: url(img/h2-background-img-03.png);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.chiocciola {
    height: 40px;
    width: 40px;
    background-color: #EE2852;
    position: absolute;
    top: 53%;
    right: 0;
    max-width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.chiocciola img {
    max-width: 25px;
}

.carrello {
    height: 40px;
    width: 40px;
    background-color: #FFFFFF;
    position: absolute;
    top: 59%;
    right: 0;
    max-width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carrello img {
    max-width: 20px;
}


.card-one, .card-two, .card-tree {
    height: 600px;
    width: 400px;
    border-radius: 30px;
    margin: 0 30px;
    display: flex;
    flex-direction: column;
    text-align: center;
    position: relative;
}

.card-one {
    border: 2px solid #EFCA9E;
}

.card-one h3, .card-two h3, .card-tree h3 {
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    padding-bottom: 10px;
    padding-top: 80px;
}

.card-one h1, .card-two h1, .card-tree h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 60px;
    padding-bottom: 10px;
}


.card-one .fa-dollar-sign {
    left: 242px;
}


.card-one ul li, .card-two ul li, .card-tree ul li {
    font-family: 'Karma', serif;
    padding: 6px 0;
    font-size: 20px;
    list-style-type: none;
    color: grey;
}

.card-one button, .card-two button, .card-tree button {
    width: 205px;
    height: 50px;
    padding: 10px;
    border-radius: 20px;
    margin: 30px auto;
    border: 2px solid #80ABAE;
    background-color: white;
    font-size: 16px;
}

.card-one button:hover {
    background-color: #80ABAE;
    color: white;
}

.card-one button:hover, .card-two button:hover, .card-tree button:hover {
    cursor: pointer;
}

.card-two {
    background-color: #E6F3F0;
    border: none;
}

.card-one .fa-dollar-sign, .card-two .fa-dollar-sign, .card-tree .fa-dollar-sign {
    position: absolute;
    top: 145px;
    font-size: 25px;
}

.card-two .fa-dollar-sign {
    left: 245px;
}

.card-two button:hover {
    background-color: #80ABAE;
    color: white;
}

.card-tree {
    border: 2px solid #EA9B82;
}

.card-tree .fa-dollar-sign {
    left: 250px;

}

.card-tree button:hover {
    background-color: #80ABAE;
    color: white;
}

/* ////////////// FINE MAIN - QUINTA PARTE ///////////////// */

/* ////////////// INIZIO MAIN - ULTIMA PARTE ///////////////// */

.contenitore-generale-contatti {
    height: 500px;
    width: 100%;
}

.contenitore-informazioni {
    height: 100%;
    width: 50%;
    float: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 300px;
}

.contenitore-informazioni h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 60px;
    padding-bottom: 20px;
    line-height: 1.1;

}

.contenitore-informazioni p {
    font-family: 'Karma', serif;
    font-size: 20px;
    line-height: 1.6;
    color: grey;
}

.contenitore-contatti {
    height: 100%;
    width: 50%;
    float: left;
}

.primo-input {
    display: flex;
    justify-content: flex-start;
}

.primo-input textarea {
    font-family: 'Karma', serif;
    width: 600px;
    height: 30px;
    margin-top: 150px;
    margin-bottom: 80px;
    border: none;
    border-bottom: 2px solid black;
    padding-left: 5px;
    font-size: 18px;
}

.input-successivi {
    display: flex;
    justify-content: flex-start;

}

.input-successivi input:first-child, .input-successivi input:last-child  {
    font-family: 'Karma', serif;
    width: 285px;
    height: 30px;
    border: none;
    border-bottom: 2px solid black;
    padding-left: 5px;
    font-size: 18px;

}

.input-successivi input:last-child {
    margin-left: 30px;

}

.contenitore-button-submit button {
    width: 180px;
    height: 50px;
    padding: 10px;
    border-radius: 30px;
    margin-top: 70px;
    border: 2px solid #80ABAE;
    background-color: white;
    font-size: 16px;
}


.contenitore-button-submit button:hover {
    background-color: #80ABAE;
    color: white;
    cursor: pointer;
}

/* //////////////////////// FINE MAIN ////////////////////////// */

/* ///////////////////////// FOOTER /////////////////////// */

.contenitore-footer {
    height: 400px;
    width: 100%;
    background-image: url(img/h2-footer-img-01.jpg);
}

.footer-text {
    height: 250px;
    width: 555px;
    margin: auto;
    flex-direction: column;
    text-align: center;
    display: flex;
    justify-content: flex-end;
    align-items: center;

}
.footer-text img {
    max-width: 100px;
    margin-bottom: 20px;
}

.footer-text p {
    font-family: 'Karma', serif;
    line-height: 1.6;
    font-size: 17px;
    color: grey;
}

.contenitore-icon-social {
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-social-instagram, .icon-social-facebook, .icon-social-twitter, .icon-social-pinterest {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    margin: 0 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #80ABAE;
}

.icon-social-facebook {
    background-color: #EEC681;
}

.icon-social-twitter {
    background-color: #EFB6A4;
}

.icon-social-pinterest {
    background-color: #D8D597;
}

.icon-social-instagram:hover, .icon-social-facebook:hover, .icon-social-twitter:hover, .icon-social-pinterest:hover {
    cursor: pointer;
}

.icon-social-instagram:hover {
    background-color: #69A9AA;

}

.icon-social-facebook:hover {
    background-color: #E5A85A;

}

.icon-social-twitter:hover {
    background-color: #E19074;

}

.icon-social-pinterest:hover {
    background-color: #629C7C;

}
